<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Listado Paquetes</title>
        <meta charset="UTF-8"/>
    </head>
    <body>  

        <section th:fragment="listadoPaquetes" id="paquete"  class="py-4 mb-5">
            <div id="actions" class="py-4 mb-4">
                <div class="container ">
                    <div class="row ">
                        <div class="col-12">
                             <form method="POST" th:action="@{/logout}">

                                    <a href="#" onclick="this.parentNode.submit();"  style=" color: #222;  display: block; padding: 20px;
                                       font-family:courier,arial,helvética; font-weight: 500; border-bottom: 1px solid rgba(255,255,255, .1);
                                       ">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16" style="  margin-right: 10px;">>
                                            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                        </svg>
                                        Salir
                                    </a>
                                </form>
                        </div>
                    </div>
                    <div class="row contacto justify-content-center py-5 mb-5">
                        <h2 class="titulo text-center py-5" style="color: #3da5e2;
                            font-family:courier,arial,helvética;
                            font-weight: 300;">[[#{paquete.titulo-lista-paquetes}]]
                        </h2>
                        <div class="col-12 col-lg-6" th:each="paquete, contador : ${paquetes}" style="font-family:courier,arial,helvética;">
                            <div class="card">                            
                                <img  th:src="@{(${paquete.imagen})}" class="card-img-top" >                                
                                    <div class="card-body">
                                        <h5 class="card-title text-center">[[${paquete.nombre}]]</h5>
                                        <div class="list-group" >
                                            <ul>
                                                <button type="button" class="list-group-item list-group-item-action active" >
                                                    [[${new java.text.DecimalFormat('$#,###,###,###,###').format(paquete.precio)}]] COP
                                                </button>
                                            </ul>
                                            <ul th:each="detalle, contador : ${paquete.detalle}">                                         
                                                <li class="list-group-item list-group-item-action">[[${detalle.observacion}]]</li>
                                            </ul>
                                        </div>
                                    </div>
                            </div>
                            <br/>
                        </div>

                    </div>
                </div>
            </div>
        </section>

