<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <title>Bienvenido OGA PICAPIEDRA</title>
        <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/carousel/">
            <meta charset="UTF-8"/>
            <link rel = "icon" href = 
                  "https://1.bp.blogspot.com/-uNu4vyDe29s/Vy8P3N9EJMI/AAAAAAAAzMs/Mjl-Hn6PA6QAH7ZhtSW9KrvPbFxPvbWBQCLcB/s400/13.png" 
                  type = "image/x-icon">

                <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
                <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
                <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
                <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
                <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

                <style>
                    /* Footer */
                    .redes-sociales {
                        padding: 40px 0;
                        margin-bottom: 40px;
                    }

                    .redes-sociales .icono {
                        width: 100px;
                        height: 100px;
                        color: #fff;
                        background: #cbcbcb;
                        display: inline-block;
                        margin: 0px 20px;
                        text-decoration: none;
                        border-radius: 100px;
                        transition: all .3s ease;
                    }

                    .redes-sociales .icono svg {
                        width: 40px;
                        height: 40px;
                    }

                    .redes-sociales .instagram {background: #833ab4;}
                    .redes-sociales .facebook {background: #3b5998;}
                    .redes-sociales .whatsapp {background: #498F3A;}

                    /* MEDIAQUERIES */
                    /* Dispositivo sm */
                    @media screen and (max-width: 576px){
                        .redes-sociales .icono {
                            width: 40px;
                            height: 40px;
                        }

                        .redes-sociales .icono svg {
                            width: 25px;
                            height: 25px;
                        }

                    }

                    #img{
                        background: url(https://www.somosmamas.com.ar/wp-content/uploads/2018/11/juegos-para-fiestas-infantiles.jpg);
                        background-size: cover;
                        color: dark;
                        height: 100%;
                        width: 100%;
                        text-align: center;
                        display: flex;
                        align-items: center;

                    }
                    #actions{
                        background: cross-fade;
                        height: 100%;
                        width: 100%;
                    }
                    .logo {
                        font-family: 'Playfair Display', serif;
                        font-size: 2.25rem;
                        font-weight: 700;
                    }

                    h1, h2, h3, h4, h5, h6 {
                        font-family: 'Playfair Display', serif;
                        font-weight: 700;
                    }

                    .titulo {font-size: 2.5rem;}

                </style>
                <script>
                   var contador;
                   function calificar(item) {
                       console.log(item);
                       contador=item.id[0];
                       let nombre = item.id.substring(1);
                       for (let i=0;i<5;i++){
                           if(i<contador){
                               document.getElementById((i+1)+nombre).style.color="orange";
                           }
                           else{
                               document.getElementById((i+1)+nombre).style.color="black";
                           }
                       }
                   }
                   function Mensaje(){
                       alert("Gracias por calificar nuestra pagina web, Usted nos califico "+contador + " Estrellas.");
                   }
                </script>
                </head>
                <body>
                    <div id="actions" class="py-4 mb-4 bg-light">
                        <header th:fragment="header" class="carousel slide container my-5  py-3 text-center text-lg-start "  style="font-family: monospace; " data-bs-ride="carousel">
                            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light">
                                <div class="container" style="font-family:courier,arial,helvética;">
                                    <div class="col-4">
                                        <a href="#" class="btn btn-link text-muted">Bienvenidos</a>
                                    </div>
                                    <div class="col-4 text-center">
                                        <a href="#" class="text-dark logo">OGA PICAPIEDRA</a>
                                    </div>
                                    <div class="col-4 d-flex justify-content-end align-items-center">
                                        <a href="#" class="text-muted mx-3">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                            </svg>
                                        </a>
                                        <form method="POST" th:action="@{/loginadm}">
                                            <input type="submit"  value="Acceder" class="btn btn-outline-secondary btn-sm"/>
                                        </form>
                                    </div>

                                </div>
                            </nav>
                            <hr class="featurette-divider">

                                <main>
                                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active" width="100%" height="100%">
                                                <img src="https://cdn-0.somosmamas.com.ar/wp-content/uploads/2018/10/juegos-para-ninos-momia.jpg?ezimgfmt=ng:webp/ngcb13" class="d-block w-100" alt="...">
                                            </div>

                                            <div class="carousel-item">
                                                <img  src="https://cdn-0.somosmamas.com.ar/wp-content/uploads/2018/10/juegos-para-fiestas-infantiles-carrera-de-sacos.jpg?ezimgfmt=ng:webp/ngcb13" class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://cdn-0.somosmamas.com.ar/wp-content/uploads/2018/10/juegos-para-fiestas-infantiles-ponle-la-cola-al-burro.jpg?ezimgfmt=ng:webp/ngcb13" class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://cdn-0.somosmamas.com.ar/wp-content/uploads/2018/10/juegos-para-ninos-telefono-roto.jpg?ezimgfmt=ng:webp/ngcb13" class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://cdn-0.somosmamas.com.ar/wp-content/uploads/2018/10/juegos-para-fiestas-infantiles-las-estatuas.jpg?ezimgfmt=ng:webp/ngcb13" class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://cdn-0.somosmamas.com.ar/wp-content/uploads/2018/10/juegos-para-ninos-en-que-animal-estoy-pensado.jpg?ezimgfmt=ng:webp/ngcb13" class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item">
                                                <img  src="https://www.somosmamas.com.ar/wp-content/uploads/2018/11/juegos-para-fiestas-infantiles.jpg" class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item">
                                                <img  src="https://cdn-0.somosmamas.com.ar/wp-content/uploads/2018/10/juegos-para-fiestas-infantiles-a-romper-el-globo.jpg?ezimgfmt=ng:webp/ngcb13" class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item">
                                                <img  src="https://cdn-0.somosmamas.com.ar/wp-content/uploads/2018/10/juegos-para-fiestas-infantiles-El-puente-sobre-aguas-turbulentas.jpg?ezimgfmt=ng:webp/ngcb13" class="d-block w-100" alt="...">
                                            </div>
                                            <div class="container">
                                                <div class="carousel-caption">
                                                    <h5 class="lead text-dark logo" >Recreaciones Temáticas – Juegos  Originales – Shows teatrales Infantiles con actores – Show de globoflexia – Show de títeres – Pintucaritas – Show de burbujas  – Magia – Talleres Infantiles.</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>

                                    <hr class="featurette-divider">

                                        <div class="container marketing">

                                            <!-- Three columns of text below the carousel -->
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <img  src="https://cdn-0.somosmamas.com.ar/wp-content/uploads/2018/10/juego-para-ninos-regalos.jpg?ezimgfmt=ng:webp/ngcb13" class="bd-placeholder-img rounded-circle" width="200" height="200"  role="img" aria-label="Placeholder: 150x150"></img>
                                                    <h2>La momia</h2>
                                                    <p>El juego de la momia es perfecto para hacer de las fiestas de cumpleaños algo más divertido. Puedes organizarlo en el momento en que esté comenzando a llegar los invitados, pues serán precisamente ellos quienes se convertirán en la próxima momia de la fiesta.</p>
                                                </div>

                                                <div class="col-lg-4">
                                                    <img  src="https://cdn-0.somosmamas.com.ar/wp-content/uploads/2018/10/juegos-para-ninos-busqueda-tesoro.jpg?ezimgfmt=ng:webp/ngcb13" class="bd-placeholder-img rounded-circle" width="200" height="200"  role="img" aria-label="Placeholder: 150x150"></img>
                                                    <h2>El limbo</h2>
                                                    <p>Cuando de juegos para fiestas infantiles se trata, los concursos de bailes no pueden faltar. El limbo es un juego súper divertido que a todos los niños les encanta jugar, pues los invita a bailar, competir con sus compañeros y divertirse como nunca.</p>
                                                </div>
                                                <div class="col-lg-4">
                                                    <img  src="https://cdn-0.somosmamas.com.ar/wp-content/uploads/2018/10/juegos-para-fiestas-infantiles-limbo.jpg?ezimgfmt=ng:webp/ngcb13" class="bd-placeholder-img rounded-circle" width="200" height="200"  role="img" aria-label="Placeholder: 150x150"></img>
                                                    <h2>¿Dónde estarán mis zapatos?</h2>
                                                    <p>¿Dónde estarán mis zapatos? Es un juego de adivinanzas muy divertido para compartir con amigos en una fiesta o una tarde de vacaciones. Es tan divertido, que los peques querrán jugarlo una y otra vez.</p>
                                                </div>
                                            </div>

                                            <hr class="featurette-divider">

                                                <div class="row featurette">
                                                    <div class="col-md-7  order-md-2">
                                                        <h2 class="featurette-heading text-center">Fiestas de Recreación</h2>
                                                        <p class="lead">Somos la mejor empresa de recreación OGA PICAPIEDRA nuestros servicios estan enfocados
                                                            a las fiestas infantiles, juegos para fiestas infantiles, recreación dirigida, fiestas con magos,
                                                            payasos, shows fiestas infantiles, eventos empresariales, venta y alquiler de inflables y saltarines 
                                                            para fiestas inafantiles, venta y alquiler de logistica recreativa, nosotros nos encargamos de la organización
                                                            de tu fiesta infantil o evento empresarial, organiazamos tu celebración para que sea todo un exito y sea una fiesta
                                                            innolvidable para tus niños, apoyate en pilitos recreación un picapiedra estara atento para atenderte. 
                                                            Te esperamos para celebrar tu fiesta con los mejores recreadores.</p>

                                                    </div>
                                                    <div class="col-md-5 order-md-1">
                                                        <img  src="https://i.pinimg.com/564x/16/11/e0/1611e0de9ab954b9023dbbed6044d334.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></img>

                                                    </div>
                                                </div>




                                                </main>

                                                </header>

                                                <!-- FOOTER -->


                                                <footer th:fragment="footer" class="text-center text-lg-start mt-5 p-5">

                                                    <div class="col-12 col-lg-auto">
                                                        <div class="text-center p-3">
                                                            <div class="row redes-sociales justify-content-center">
                                                                <div class="col-auto">

                                                                    <a href="#" class="icono instagram d-inline-flex align-items-center justify-content-center">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                                                                            <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/>
                                                                        </svg>
                                                                    </a>
                                                                    <a href="https://web.whatsapp.com/send?phone=573186345860" class="icono facebook d-inline-flex align-items-center justify-content-center" target="_blank">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                                                                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                                                                        </svg>
                                                                    </a>
                                                                    <a href="https://web.whatsapp.com/send?phone=573186345860" class="icono whatsapp d-inline-flex align-items-center justify-content-center" target="_blank">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
                                                                            <path d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z"/>
                                                                        </svg>
                                                                    </a>



                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <p class="float-end" style="font-family:courier,arial,helvética;"><a href="#">Volver al principio</a></p>
                                                </footer>

                                        </div>
                                        <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
                                        </body>
                                        </html>
