<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Agregar Slider</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="agregarPortafolio" id="portafolio" >
            <main id="actions" class="my-0">
                
                <div class="container">
                    <!-- Portafolio -->
                    <div class="row portafolio g-0 px-4 mb-5">
                        <div class="col">
                            <h2 class="titulo text-center py-5" style="color: #3da5e2;
                                font-family:courier,arial,helvética;
                                font-weight: 300;">[[#{portafolio.titulo}]]</h2>
                            <div class="row galeria ">
                                <!-- Imagen #1 -->
                                <div class="contenedor-imagen mb-4 col-12 col-lg-4  modal-dialog-centered"  th:each="portafolio,iterador : ${portafolios}">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#modal-galeria">
                                        <img  th:src="@{(${portafolio.urlImagen})}"  class="d-block w-100" alt="">
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
            </main>
        </section>
    </body>
</html>
