<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <title>Tu Calificaci&oacute;n!</title>
        <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/carousel/">
            <meta charset="UTF-8"/>
            <link rel = "icon" href = 
                  "https://1.bp.blogspot.com/-uNu4vyDe29s/Vy8P3N9EJMI/AAAAAAAAzMs/Mjl-Hn6PA6QAH7ZhtSW9KrvPbFxPvbWBQCLcB/s400/13.png" 
                  type = "image/x-icon">

                <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
                <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
                <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
                <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
                <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

                <style>
                    .container{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .hijo{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }

                    #apartado1{
                        width:600px;
                        height:500px;
                        border:3px solid whitesmoke;
                        border-radius:22px;
                        background-color:#ffffff;
                        padding:9px;
                    }
                </style>
                </head>
                <body>
                    <section class="vh-100" style="background-color: #E9C2E4;">

                        <div class="container py-5 h-100" style="font-family:courier,arial,helvética;">
                            <div class="row d-flex justify-content-center align-items-center h-100">
                                <div class="col col-xl-6">
                                    <div class="card" style="border-radius: 25px">
                                        <div class="row g-0">
                                            <div class="col-md-6 col-lg-12 d-flex align-items-center">
                                                <div class="card-body p-4 p-lg-5 text-black">


                                                    <div class="d-flex align-items-center mb-3 pb-1">
                                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                                        <span class="h2 fw-bold mb-0" style="letter-spacing: 1px;">OGA PICAPIEDRA</span>
                                                    </div>

                                                    <h5 class="fw-bold" style="font-family:courier,arial,helvética;">Escribir datos solicitados</h5>
                                                    <p class="fw-normal mb-3 pb-3" style="font-family:courier,arial,helvética; align-content: center ">Como vas a acceder 
                                                        a información confidencial, es necesario que confirmes los siguientes datos.</p>
                                                    <form method="post" th:action="@{/calificaEvento}">
                                                        <div class="form-outline mb-4">
                                                            <label class="form-label" for="idContrato">Numero de Contrato</label>
                                                            <input type="number" name="idContrato"  id="idContrato" class="form-control" />

                                                        </div>

                                                        <div class="form-outline mb-4">
                                                            <label class="form-label" for="numeroIdentificacion">Numero de Identificación</label>
                                                            <input type="number" name="numeroIdentificacion"  id="numeroIdentificacion" class="form-control" />
                                                        </div>
                                                        <div class="col-12 d-flex justify-content-center">
                                                            <input type="submit"  value="Buscar Evento" class="btn btn-dark btn-lg btn-block"/>
                                                        </div>
                                                        <p class="align-self-center text-center"><strong>[[${mensajeError}]]</strong></p>
                                                        <p class="align-self-center text-center"><strong>[[${mensajeCorreo}]]</strong></p>
                                                    </form>


                                                    <form method="POST" th:action="@{/logout}">

                                                        <a href="#" onclick="this.parentNode.submit();">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                                                            </svg>
                                                            Regresar.
                                                        </a>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </body>
                </html>
