<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <title>Digita tu codigo!</title>
        <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/carousel/">
            <meta charset="UTF-8"/>
            <link rel = "icon" href = 
                  "https://1.bp.blogspot.com/-uNu4vyDe29s/Vy8P3N9EJMI/AAAAAAAAzMs/Mjl-Hn6PA6QAH7ZhtSW9KrvPbFxPvbWBQCLcB/s400/13.png" 
                  type = "image/x-icon">

                <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
                <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
                <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
                <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
                <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

                <style>
                    .container{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .hijo{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }

                    #apartado1{
                        width:600px;
                        height:500px;
                        border:3px solid whitesmoke;
                        border-radius:22px;
                        background-color:#ffffff;
                        padding:9px;
                    }
                </style>
                </head>
                <body>
                    <section class="vh-100" style="background-color: #E9C2E4;">

                        <div class="container py-5 h-100" style="font-family:courier,arial,helvética;">
                            <div class="row d-flex justify-content-center align-items-center h-100">
                                <div class="col col-xl-12">
                                    <div class="card" style="border-radius: 25px">
                                        <div class="row g-0">
                                            <div class="col-md-6 col-lg-12 d-flex align-items-center">
                                                <div class="card-body p-4 p-lg-5 text-black">


                                                    <div class="d-flex align-items-center mb-3 pb-1">
                                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                                        <span class="h2 fw-bold mb-0" style="letter-spacing: 1px;">OGA PICAPIEDRA</span>
                                                    </div>

                                                    <p class="fw-normal mb-3 pb-3" style="font-family:courier,arial,helvética; align-content: center ">Estamos confirmando que eres tú</p>
                                                    <p class="fw-normal mb-3 pb-3" style="font-family:courier,arial,helvética; align-content: center ">Hemos enviado un mensaje de verificación<br/> a tú correo electronico.</p>
                                                    <form>
                                                        <div class="form-outline mb-4">
                                                            <label class="form-label" for="pin">PIN</label>
                                                            <input type="number" name="pin" placeholder="Digita el PIN" id="idContrato" class="form-control" />
                                                        </div>
                                                        <div class="col-12 d-flex justify-content-center">
                                                            <input type="submit"  value="Confirmar" class="btn btn-danger btn-lg btn-block"/>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
