<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <title>Formulario</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <style>

            /* --- --- BARRA LATERAL --- --- */
            .barra-lateral {
                background: #262a34;
                color: #fff;
                min-width: 300px;
                min-height: 100vh;
            }

            .barra-lateral a {
                color: #fff;
            }

            /* --- LOGO --- */
            .barra-lateral .logo {
                background: #0275db;
            }

            .barra-lateral .logo h2 {
                font-size: 30px;
                font-family:courier,arial,helvética;
                text-align: center;
                font-weight: 300;
            }
            /* --- MENU --- */
            .barra-lateral .menu a {
                display: block;
                padding: 20px;
                font-family:courier,arial,helvética;
                font-weight: 500;
                border-bottom: 1px solid rgba(255,255,255, .1);
            }

            .barra-lateral .menu a:hover {
                background: #35ae6b;
            }

            .barra-lateral .menu a svg {
                margin-right: 10px;
            }

            .Fields {
                background-color: #E9E9E9;

            }


        </style>


    </head>


    <!--CABECERA-->
    <body>

        <header >
            <div class="container-fluid">
                <div class="row">
                    <aside class="barra-lateral col-12 col-sm-auto p-0">
                        <div class="logo">
                            <h2 class="py-4 m-0">Dashboard</h2>
                        </div>
                        <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
                            <form method="POST" th:action="@{/cotizacion}">

                                <a href="#" onclick="this.parentNode.submit();"  >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z"/>
                                    </svg>
                                    Cotizacion
                                </a>
                            </form>
                            <form method="POST" th:action="@{/buscarCotizacion}" >
                                <a href="#" onclick="this.parentNode.submit();"     >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z"/>
                                    </svg>
                                    Buscar Cotizacion
                                </a>
                            </form>

                            <form method="POST" th:action="@{/buscarContrato}" >
                                <a href="#" onclick="this.parentNode.submit();"     >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z"/>
                                    </svg>
                                    Buscar Contrato
                                </a>
                            </form>

                            <form method="POST" th:action="@{/logout}">

                                <a href="#" onclick="this.parentNode.submit();"  >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16" style="  margin-right: 10px;">>
                                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                    </svg>
                                    Salir
                                </a>
                            </form>


                        </nav>
                    </aside>

                    <main class="col-9">
                        <div class="container" style="font-family:courier,arial,helvética;">
                            <div class="row ">
                                <div class="col-12 col-md-12 mb-3">
                                    <h2 class="titulo-coti text-center py-2" style="font-family:courier,arial,helvética;"> <strong>Crear Contrato</strong> </h2>
                                </div>
                                <form th:action="@{/guardarContrato}" th:object="${contrato}" method="POST" >
                                    <div class="row">
                                        <div class="col-12 col-md-6 mb-3" >
                                            <label for="idContrato" class="form-label">Id Contrato</label>
                                            <input type="number" class="form-control " placeholder="" name="idContrato"  th:field="*{idContrato}" disabled/>
                                        </div>
                                        <div class="col-12 col-md-6 mb-3" >
                                            <label for="idCotizacion" class="form-label">Id Cotizacion</label>
                                            <input type="number" class="form-control Fields" placeholder="" name="idCotizacion" th:field="*{idCotizacion}"  />
                                        </div>

                                        <div class="col-12 col-md-6 mb-3" >
                                            <label for="numeroIdentificacion" class="form-label">Numero de Identificación</label>
                                            <input type="number" class="form-control Fields" placeholder="Identificación" name="numeroIdentificacion" th:field="*{numeroIdentificacion}"  />
                                        </div>
                                        <div class="col-12 col-md-6 mb-3">
                                            <label for="email" class="form-label">Correo Electronico</label>
                                            <input type="email" class="form-control Fields" placeholder="correo@correo.com" name="email"  th:field="*{email}" />
                                        </div>
                                        <div class="col-12 col-md-6 mb-3" >
                                            <label  class="form-label">Fecha de Creacion</label>
                                            <input type="date" class="form-control Fields" placeholder="Fecha Creacion" name="fechaCreacion" th:field="*{fechaCreacion}"  />
                                        </div>
                                        <div class="col-12 col-md-6 mb-3" >
                                            <label for="fechadelEvento" class="form-label">Fecha del Evento</label>
                                            <input type="date" class="form-control Fields" placeholder="Fecha del Evento" name="fechadelEvento"  th:field="*{fechadelEvento}" />
                                        </div>


                                        <div class="col-12 col-md-6 mb-3" th:each="recreador, contador : ${contrato.recreadores}">
                                            <label  class="form-label">Nombre del Recreador [[${contador.index+1}]] </label>
                                            <select class="form-select Fields" name="idRecreador" id="idRecreador" aria-label="Default select example">
                                                <option value="0">Elija el recreador</option>

                                                <option th:each="recreador : ${recreadores}" 
                                                        th:value="${recreador.idRecreador}" 
                                                        th:text="${recreador.nombreRecreador}" >
                                                </option>

                                            </select>
                                        </div>


                                        <div class="col-12 d-flex justify-content-center">
                                            <button class="col-6 btn btn-outline-danger" type="submit" name="guardarContrato" value="guardarContrato">Crear Contrato</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </main>

                </div>
            </div>
        </header>
    </body>
</html>
