
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>Login</title>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/animate.css/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>

    <body>


        <section class="vh-100" style="background-color: #E9C2E4;">

            <div class="container py-5 h-100" style="font-family:courier,arial,helvética;">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col col-xl-10">
                        <div class="card" style="border-radius: 1rem;">
                            <div class="row g-0">
                                <div class="col-md-6 col-lg-5 d-none d-md-block">
                                    <img
                                        src="https://i.pinimg.com/564x/86/5e/d0/865ed021c596e584d0217c2f9c830f68.jpg"
                                        alt="login form"
                                        class="img-fluid" style="border-radius: 1rem 0 0 1rem;"
                                        />
                                </div>
                                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                    <div class="card-body p-4 p-lg-5 text-black">

                                        <form method="POST" th:action="@{/cotizacion}">

                                            <div class="d-flex align-items-center mb-3 pb-1">
                                                <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                                <span class="h1 fw-bold mb-0" style="letter-spacing: 1px;">OGA PICAPIEDRA</span>
                                            </div>

                                            <h5 class="fw-normal mb-3 pb-3" style="font-family:courier,arial,helvética; ">Iniciar sesión en su cuenta</h5>

                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="username">Nombre de Usuario</label>
                                                <input type="text" name="username"  id="username" class="form-control form-control-lg" placeholder="ogapicapiedra11@gmail.com" />

                                            </div>

                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="password">Contraseña</label>
                                                <input type="password" name="password"  id="password" class="form-control form-control-lg" placeholder="12345" />
                                            </div>

                                            <input type="submit"  value="Inicia sesión" class="btn btn-dark btn-lg btn-block"/>
                                        </form>

                                        <hr class="featurette-divider">

                                            <form method="POST" th:action="@{/logout}">

                                                <a href="#" onclick="this.parentNode.submit();"  style=" color: #222;  display: block; padding: 20px;
                                                   font-family:courier,arial,helvética; font-weight: 500; border-bottom: 1px solid rgba(255,255,255, .1);
                                                   ">
                                                    <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16" style="  margin-right: 10px;">>
                                                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                                    </svg>
                                                    Ir a sitio.
                                                </a>
                                            </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>
